<div class="row well">
  <div class="col-md-4 well">

    <%= form_for(@node) do |f| %>
      <% if @node.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@node.errors.count, "error") %> prohibited this node from being saved:</h2>

          <ul>
          <% @node.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
          </ul>
        </div>
      <% end %>

      <div class="field">
        <%= f.label :name %><br>
        <%= f.text_field :name %>
      </div>

      <div class="field">
        <%= f.label :description %><br>
        <%= f.text_field :description %>
      </div>

      <div class="field">
        <%= f.hidden_field :map_id %>
      </div>
    
      <div class="field">
        <%= f.label :category %><br>
        <%= f.select :category_ids, options_from_collection_for_select(@node.map.categories.order(:kind),
        :id, :kind, @node.categories.map(&:id)), {include_blank: true},
        {multiple: true, size: @node.map.categories.count+1} %>
      </div>

      <div class="field">
        <%= f.label :nodes %><br>
        <%= f.select :node_ids, options_from_collection_for_select(@map.nodes.order(:name), :id, :name, @node.connections.map(&:id)), {include_blank: true}, {multiple: true, size: @map.nodes.count+1} %>
      </div>

      <div class="actions">
        <%= f.submit class:"btn btn-default" %>
      </div>
    <% end %>

  </div><!--/.col-md-4 -->

</div><!--/.row well -->