<div class="panel panel-default">

    <div class="panel-heading">
      <h3 class="panel-title">
        <a data-toggle="collapse" href="#collapse2">List Nodes Relationships</a>
      </h3>
    </div><!--/.panel-heading -->

    <div id="collapse2" class="panel-collapse collapse">
      <div class="panel-body">
        <table class="table">
          <thead>
            <tr>
              <th>Name</th>
              <th>Relationships</th>
              <th>Categories</th>
              <th colspan="3"></th>
            </tr>
          </thead>

          <tbody>
            <% @map.nodes.each do |node| %>
              <tr>
                <td><%= node.name %></td>
                <td>
                  <ul>
                    <% node.rels.each do |rel| %>
                      <li><%= rel.rel_type %> -->
                        <% if rel.end_node.try(:name) == node.name %>
                          Self IN from: <%= rel.start_node.try(:title) %>
                        <% else %>
                          <%= rel.end_node.try(:name) %>
                        <% end %>
                      </li>
                    <% end %>
                  </ul>
                </td>
                <td>
                  <ul>
                    <% node.categories.each do |category| %>
                      <li><%= category.kind %></li>
                    <% end %>
                  </ul>
                </td>
                <td><%= link_to 'Show', node %></td>
                <td><%= link_to 'Edit', edit_node_path(node) %></td>
                <td><%= link_to 'Destroy', node, method: :delete, data: { confirm: 'Are you sure?' } %></td>
              </tr>
            <% end %>
          </tbody><!-- /.table -->
        </table>
      </div><!--/.panel-body -->
    </div><!--/#collapse2 -->

  </div><!--/.panel -->

  <%= link_to 'New Relationship', node_path(id: @map.id, action: "new_link", controller: "nodes"), class:"btn btn-default" %>