<%= form_for(@category) do |f| %>
  <% if @category.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@category.errors.count, "error") %> prohibited this category from being saved:</h2>

      <ul>
      <% @category.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :kind %><br>
    <%= f.text_field :kind %>
  </div>
  <div class="field">
    <%= f.label :map_id %><br>
    <%= f.text_field :map_id %>
  </div>
  <div class="field">
    <%= f.label :node%><br>
    <% if @map.nil? %>
      <%= f.select :node_ids, options_from_collection_for_select(@category.map.nodes.order(:name), :id, :name, @category.nodes.map(&:id)), {include_blank: true}, {multiple: true, size: @category.map.nodes.count+1} %>
    <% else %>
        <%= f.select :node_ids, options_from_collection_for_select(@map.nodes.order(:name), :id, :name, @map.nodes.map(&:id)), {include_blank: true}, {multiple: true, size: @map.nodes.count+1} %>
    <% end %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
