  <div class="panel panel-default">

    <div class="panel-heading">
      <h3 class="panel-title">
        <a data-toggle="collapse" href="#collapse1">List Categories for map: <%= map_title %></a>
      </h3>
    </div><!--/.panel-heading -->

    <div id="collapse1" class="panel-collapse collapse">
      <div class="panel-body">
        <table class="table">
          <thead>
            <tr>
              <th>Kind</th>
              <th>Map</th>
              <th>Node</th>
              <th colspan="3">Action</th>
            </tr>
          </thead>

          <tbody>
            <% categories.each do |category| %>
              <tr>
                <td><%= category.kind %></td>
                <td><%= category.map.title %></td>
                <td>
                  <ul>
                    <% category.nodes.each do |node| %>
                      <% if node.class == Node %>
                        <li><%= node.try(:name) %></li>
                      <% end %>
                    <% end %>
                  </ul>
                </td>
                <td><%= link_to 'Show', category %></td>
                <td><%= link_to 'Edit', edit_category_path(category) %></td>
                <td><%= link_to 'Destroy', category, method: :delete, data: { confirm: 'Are you sure?' } %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div><!--/.panel-body -->
    </div><!--/#collapse1 -->
  </div><!--/.panel -->
<br>

<%= link_to 'New Category', new_category_path(map_id: map_id), class:"btn btn-default" %>